mixin page-header()

  header.page-header
    .page-header__container.container
      .row

        nav.page-header__main-nav.main-nav
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link(href="#", title="Доставка и оплата")
                | Доставка и оплата

            li.main-nav__item
              a.main-nav__link(href="#", title="Сервис")
                | Сервис

            li.main-nav__item
              a.main-nav__link(href="#", title="Статьи")
                | Статьи

            li.main-nav__item
              a.main-nav__link(href="#", title="Контакты")
                | Контакты
